* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  font-size: 24px;

  --dark-grey: #50514f;
  --red: #f25f5c;
  --yellow: #ffe066;
  --blue: #247ba0;
  --blue-green: #70c1b3;
}

#content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px 1fr 20px;
  grid-template-areas:
    "header header"
    "navbar main"
    "navbar footer";
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--blue);
  color: white;
}

.ltbox {
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.logo {
  height: 100%;
  border: none;
}

.title {
  margin-left: 20px;
  border: none;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 8px;
  margin-right: 10px;
}

.display-toggle {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.toggle-box {
  width: 75px;
  height: 25px;
  display: block;
  background-color: white;
  border-radius: 1000px;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.circle {
  position: absolute;
  width: 35px;
  height: 20px;
  left: 0px;
  background-color: whitesmoke;
  border-radius: 1000px;
  border: 1px solid var(--dark-grey);
  margin: 2px;
  transition: 0.5s;
}

.navBar {
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  width: 20vw;
  align-items: center;
  background-color: var(--blue-green);
  padding-top: 10px;
}

.navBtn {
  width: 90%;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 1rem;
  padding: 8px;
}

.projectBtns-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 80%;
}

.project-btn {
  margin-bottom: 10px;
  border-radius: 8px;
}

.main {
  margin: 15px;
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.pHeader {
  margin: 10px;
}

.list-display {
  margin-left: 10px;
}

.tdList-container {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.todo {
  width: 80%;
  margin-bottom: 10px;
  padding: 5px;
  background-color: white;
  display: grid;
  grid-template-columns: 30px 1fr 125px 100px 35px 35px 35px;
  gap: 8px;
}

img.checkbox {
  height: 25px;
  width: 25px;
}

.button-icon {
  height: 25px;
  width: 25px;
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dark-grey);
  color: white;
  font-size: 15px;
}

.active {
  background-color: rgb(90, 89, 89);
  color: white;
}

.overdue {
  color: rgb(221, 95, 95);
}

.complete {
  text-decoration: line-through;
  color: gray;
}

.projectOverviews-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  grid-auto-rows: auto;
}

.project-overview {
  border: 1px solid var(--dark-grey);
  border-radius: 3px;
  box-shadow: 0.1rem 0.1rem 0.2rem black;
}

.project-overview h3 {
  padding: 8px;
}

.project-overview p {
  margin-left: 50px;
  padding: 8px;
}

.quad-display {
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr;
  grid-template-areas:
    ". urgent later"
    "important quad1 quad2"
    "unimportant quad3 quad4";
  gap: 15px;
}

.quad-grid-label {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.rotate {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.urgent {
  grid-area: urgent;
  align-self: end;
}

.later {
  grid-area: later;
  align-self: end;
}

.important {
  grid-area: important;
  justify-self: right;
}

.quad1 {
  grid-area: quad1;
  border: 20px solid rgba(211, 117, 117, 0.8);
}

.quad2 {
  grid-area: quad2;
  border: 20px solid rgba(250, 226, 127, 0.8);
}

.unimportant {
  grid-area: unimportant;
  justify-self: right;
}

.quad3 {
  grid-area: quad3;
  border: 20px solid rgba(79, 182, 226, 0.8);
}
.quad4 {
  grid-area: quad4;
  border: 20px solid rgba(129, 218, 203, 0.8);
}

.modal {
  width: 33vw;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border: 1px solid #d6d9dc;
  border-radius: 8px;
}

::backdrop {
  background-image: radial-gradient(rgb(192, 194, 192), rgb(56, 55, 56));
  opacity: 0.75;
}

form {
  margin: 20px;
}

.form-row {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type="text"] {
  background-color: #ffffff;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 0.7rem;
}

.form-row label {
  margin-bottom: 10px;
}

.form-row select {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  font-size: 0.7rem;
  -webkit-appearance: none;
}
.form-buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-buttons button,
#infoCloseBtn {
  font-size: 16px;
  font-weight: bold;

  color: #ffffff;
  background-color: #5e5f61;

  border: none;
  border-radius: 8px;

  padding: 10px 40px;
  cursor: pointer;
}

.form-buttons button:hover,
#infoCloseBtn:hover {
  background-color: #d7dbdf;
}

.form-buttons button:active,
#infoCloseBtn:active {
  background-color: #b6babe;
}

#tdInfoDialog {
  padding: 20px;
}

#expandedInfo {
  margin: 20px;
}

/* Sources
color palette: https://coolors.co/palette/50514f-f25f5c-ffe066-247ba0-70c1b3

*/
